# .NET
bin/
obj/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Visual Studio Code
.vscode/

# Secrets
FastBite-1/bin/Debug/net8.0/appsettings.json
appsettings.json
appsettings.*.json
FastBite-1/appsettings.json
# NuGet Packages
*.nupkg
packages/

# Build Results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
out/

# Others
*.log
*.d.ts
*.tgz
*.pdb
